<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>PDF</title>
	<style>
		* {
			font-family: Helvetica;
			font-size: 20px;
			color: Black;
			text-align: justify;
		}
		h6{
			font-size: 25px;
		}
		input {
			border: none;
			text-align: center;
		}
		th {
			text-align: center;
		}
		div {
			margin-bottom:100px;
		}
	</style>
	<script>
		function load(){
			const rate = ['1', '2', '3', '4', '5'];
			const level = ['Bad', 'Acceptable', 'Medium', 'Good', 'Very good'];
			const color = ['#e63900', '#e68a00', '#ff6600', '#009933', 'DarkGreen']
			document.getElementById('motiv').value = level[rate.indexOf('{{motivation}}')];
			document.getElementById('motiv').style.color = color[rate.indexOf('{{motivation}}')];
			document.getElementById('solve').value = level[rate.indexOf('{{solving}}')];
			document.getElementById('solve').style.color = color[rate.indexOf('{{solving}}')];
			document.getElementById('comm').value = level[rate.indexOf('{{communication}}')];
			document.getElementById('comm').style.color = color[rate.indexOf('{{communication}}')];
			document.getElementById('team').value = level[rate.indexOf('{{teamwork}}')];
			document.getElementById('team').style.color = color[rate.indexOf('{{teamwork}}')];
			document.getElementById('adapt').value = level[rate.indexOf('{{adaptability}}')];
			document.getElementById('adapt').style.color = color[rate.indexOf('{{adaptability}}')];
			document.getElementById('creative').value = level[rate.indexOf('{{creativity}}')];
			document.getElementById('creative').style.color = color[rate.indexOf('{{creativity}}')];
		}
	</script>
</head>
<body onload="load();">
	<div class="container">
        <div class="row">
            <h6>{{user}}</h6>
			<h6>{{company}}</h6>
			<h6>{{email}}</h6>
        </div>
		<div class="row">
            <h6>Subject: Recommendation for {{candidate}} - {{position}}</h6>
			<p></p>
            <p>{{ text|linebreaks }}</p>
        </div>
		<div class="row text-center">
			<div class="container" style="width:70%;">
				<table class="table">
					<tr>
						<th>Skill</th>
						<th>Level</th>
					</tr>
					<tr>
						<th>Motivation</th>
						<th><input id="motiv" type="text" readonly/></th>
					</tr>
					<tr>
						<th>Problem-solving</th>
						<th><input id="solve" type="text" readonly/></th>
					</tr>
					<tr>
						<th>Communication</th>
						<th><input id="comm" type="text" readonly/></th>
					</tr>
					<tr>
						<th>Teamwork</th>
						<th><input id="team" type="text" readonly/></th>
					</tr>
					<tr>
						<th>Adaptability</th>
						<th><input id="adapt" type="text" readonly/></th>
					</tr>
					<tr>
						<th>Creative thinking</th>
						<th><input id="creative" type="text" readonly/></th>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>